<body>
GAMEVIEW
<div id='displayId'><%= displayId %></div>
<div id='op_hand'></div>
<div id='op_field'></div>
<div id='mid_wrapper'>
	<div id='deck'></div>
	<div id='scrap'></div>
</div>
<div id='your_field'></div>
<div id='your_hand'></div>

<button id='render'>Render</button>

<script src="/js/localScripts/gameview.js"></script>
</body>